body {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: white;
}

.section1 {
	padding-left: 10%;
	padding-right: 10%;
}

.section2 {
	background-color: #f9f9f9;
}

ul {
	height: 120px;
	margin: 0;
}

.small_navigation_container {
	position: relative;
	text-align: center;
	top: 70%;
}
.nav-container {
	border-bottom: 1px solid rgb(219, 219, 219);
	list-style-type: none;
	overflow: hidden;
	color: black;
	background-color: #f9f9f9;
	text-decoration: none;
	position: -webkit-sticky; /* Safari */
	position: sticky;
}
li {
	display: inline;
	font-family: "Hind", sans-serif;
	padding-right: 1%;
}

li a {
	color: black;
	text-decoration: none;
	font-family: "Hind", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.1111111111111112rem;
	letter-spacing: 0.12222222222222223rem;
}

li a:hover {
	color: rgb(92, 92, 92);
}

.introText {
	font-size: 500%;
	padding-top: 3%;
	padding-bottom: 0.5%;
	font-family: "Hind", sans-serif;
	font-weight: 500;
	font-style: bold;
	color: rgb(0, 0, 0);
}

.introText2 {
	font-family: "Hind", sans-serif;
	font-style: normal;
	letter-spacing: 0.016666666666666666rem;
	color: rgb(77, 77, 77);
	padding-bottom: 2%;
}

.freshPrinceGif {
	align-self: center;
	height: auto;
	width: auto;
	padding-bottom: 2%;
}
.inline-block {
	display: inline-block;
	padding-right: 1.5%;
}

.intro_descriptor {
	font-family: "Hind", sans-serif;
	font-style: italic;
	padding-bottom: 1.5%;
}

.largetext {
	font-size: 300%;
	padding-bottom: 1%;
}

.twitch_container {
	display: inline;
	padding-right: 1.5%;
}

.twitchImage {
	height: 7%;
	width: 7%;
}
